* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Mencegah scroll ke samping */
    background: linear-gradient(180deg, #F2F2F2 0%, #EBEBEB 50%, #BFBFBF 100%);
    font-family: 'Sarala', sans-serif;
}

.container {
    width: 100%; 
    position: relative;
    min-height: 100vh;
}

/* 3. Navigation Bar  */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Menggunakan Viewport Width agar menabrak ujung browser */
    height: 99px;
    
    /* Gradien Asli kamu */
    background: linear-gradient(90deg, 
        rgba(44, 44, 44, 0.3) 0%, 
        rgba(66, 66, 66, 0.3) 50%, 
        rgba(189, 189, 189, 0.3) 100%);
    
    z-index: 100;
}

/* 4. Konten di dalam Navbar */
.logo {
    position: absolute;
    left: 55px; /* Jarak dari ujung kiri browser */
    top: 34px;
    font-family: 'Inria Serif', serif;
    font-size: 40px;
    font-weight: 700;
    color: #1a1a1a;
    text-decoration: none;
}

.menu {
    position: absolute;
    right: 55px; /* Jarak dari ujung kanan browser */
    top: 34px;
    display: flex;
    gap: 30px;
}

.menu-link {
    font-family: 'Abhaya Libre', serif;
    font-size: 30px;
    font-weight: 500;
    color: #2c2c2c;
    text-decoration: none;
}

/* 5. Konten Hero*/
.main-title {
    position: absolute;
    left: 51px;
    top: 193px;
    width: 775px;
    font-family: 'Secular One', sans-serif;
    font-size: 32px;
    line-height: 1.35;
    color: #1a1a1a;
}

.description {
    position: absolute;
    left: 55px;
    top: 265px;
    width: 592px;
    font-family: 'Sarala', sans-serif;
    font-size: 32px;
    line-height: 52px;
    color: #4a4a4a;
}

.btn-explore {
    position: absolute;
    left: 190px;
    top: 503px;
    width: 210px;
    height: 54px;
    background: #000;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.main-image {
    position: absolute;
    left: 826px;
    top: 185px;
    width: 584px;
    height: 389px;
    border-radius: 50px;
    object-fit: cover;
}